/* Delete these buttons after Frow 3.1 release */
.button-link, .button-link:focus, .button-link:active, .button-link:hover, .button-link:disabled, .button-link:disabled:hover {
  color: #333;
  border: none;
  outline: none;
  background: none;
  text-transform: none;
  font-weight: 500;
}
.button-link:focus, .button-link:active, .button-link:hover {
  text-decoration: underline;
}

body, html {
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: Quicksand;
  font-weight: 500;
}

.menu-bar {
  position: fixed;
  left: 10px;
  top: 5px;
}

.menu-bar button {
  color: gray;
}

#stats-bar {
  background-color: rgba(255, 255, 255, 0.92);
  top: 35px;
  left: 20px;
  position: absolute;
  text-align: left;
  padding: 10px;
}

#stats-bar-html {
  padding: 5px 10px;
}

#hide-stats-bar {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#hide-stats-bar svg {
  width: 10px;
  height: 10px;
}

.logo {
  height: 50px;
  width: auto;
}

video {
  width: 70%;
  height: auto;
  object-fit: contain;
}

audio:focus {
  outline: 0;
}

#info-bar {
  font-size: 24px;
  margin-top: 20px;
  transition: opacity 0.4s;
}

.active #info-bar {
  opacity: 0;
}

.not-active #info-bar {
  opacity: 1;
}

#chat-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 370px;
  width: 300px;
  background: white;
  z-index: 9;
  border-radius: 5px;
  text-align: left;
  -moz-box-shadow: 0px 0px 1px 7px #b9b9b9;
  -webkit-box-shadow: 0px 0px 1px 7px #b9b9b9;
  box-shadow: 0px 0px 1px 7px #b9b9b9;
  display: none;
}

#chat-container, #chat-container * {
  padding: 0;
}

#chat-messages {
  height: 335px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
}

#chat-messages div {
  border-bottom: 1px solid lightgray;
  padding: 2px 5px;
  font-size: 20px;
}

#chat-messages div span.name {
  font-weight: bold;
}

#txt-chat-message {
  width: 300px;
  border: 0;
  border-top: 1px solid lightgray;
  font-size: 20px;
  padding: 2px 5px;
}

.checkmark {
  width: 18px;
  vertical-align: middle;
}