body {
  background-color: #F6F6F6;
  min-width: 400px;
  margin: 20px;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 14px;
}

#default-section, #stop-section {
  display: none;
}

.card {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

#stream-section svg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

#stream-section svg path {
  fill: #000000;
}

@keyframes pulse {
  from {opacity: 1.0;}
  to {opacity: 0.5;}
}

.record-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  animation: pulse 3s infinite alternate;
}

.website-link {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  display: block;
}